.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home-container {
    display: flex;
    width: 668px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#start {
    border-radius: 8px;
    border: 2px solid #7BF1A8;
    background: linear-gradient(90deg, #14DE2C 0%, #1ACA20 100%);
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 56px;
    padding: 8px 16px;
    align-self: stretch;
    text-transform: uppercase;
    font-size: 20px;
}

#start:hover {
    background: #15FF30;
    cursor: pointer;
}

#tutorial {
    border-radius: 8px;
    border: 2px solid #C27AFF;
    background: #00000080;
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 56px;
    padding: 8px 16px;
    align-self: stretch;
    text-transform: uppercase;
    font-size: 20px;
}

#tutorial:hover {
    background: #654970D9;
    cursor: pointer;
}

#start-tutorial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

#username {
    border-radius: 8px;
    border: 2px solid #15FF30;
    background: rgba(0, 0, 0, 0.70);
    font-family: "Press Start 2P";
    height: 56px;
    padding: 4px 12px;
    align-self: stretch;
    text-align: center;
    color: #FFFFFF;
}

#btn-container {
    display: flex;
    width: 448px;
    flex-direction: column;
    align-items: flex-start;
    gap: 86px;
}

#logo-btn-container {
    display: flex;
    width: 551px;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

#trophy-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 67px;
    height: 67px;
    cursor: pointer;
}

#trophy-icon:hover svg rect {
    fill: #15FF30;
}

.tutorial-section {
    color: #FFFFFF;
    font-family: "Press Start 2P";
    font-size: 15px;
    line-height: 28px;
    align-self: stretch;
    margin: 0;
}

.instructions p {
    color: #FFFFFF;
    text-align: center;
    font-family: Recursive;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

#movement-container {
    display: flex;
    height: 118px;
    padding: 13px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 14px;
    background: linear-gradient(180deg, #56BFB3 41.83%, #D67DFF 100%);
}

#rotation-container {
    display: flex;
    height: 93px;
    padding: 6px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 14px;
    background: #D67DFF;
}

#attack-container {
    display: flex;
    height: 93px;
    padding: 6px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 14px;
    background: linear-gradient(0deg, #56BFB3 48.56%, #D67DFF 100%);
}

.instructions {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.instructions-row {
    display: flex;
    gap: 46px;
    align-self: stretch;
}

.instructions-row div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#tutorial-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    align-self: stretch;
}

#tutorial-popup {
    display: flex;
    width: 468px;
    height: 570px;
    padding: 20px 10px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 6px solid #D67DFF;
    background: #000000;
    position: relative;
}

#tutorial-title-instructions-container {
    display: flex;
    width: 406px;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

#movement-instructions {
    flex-direction: column;
}

#close-icon {
    position: absolute;
    top: 40px;
    right: 1px;
    width: 67px;
    height: 67px;
    cursor: pointer;
}