.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    overflow: hidden;
}

#home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    border-radius: 8px;
    border: 2px solid #7BF1A8;
    background: linear-gradient(90deg, #14DE2C 0%, #1ACA20 100%);
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 6vh;
    padding: 8px 16px;
    align-self: stretch;
    text-transform: uppercase;
    font-size: 1.3em;
}

.start:hover {
    background: #15FF30;
    cursor: pointer;
}

.tutorial {
    border-radius: 8px;
    border: 2px solid #C27AFF;
    background: #00000080;
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 6vh;
    padding: 8px 16px;
    align-self: stretch;
    text-transform: uppercase;
    font-size: 1.3em;
}

.tutorial:hover {
    background: #654970D9;
    cursor: pointer;
}

#start-tutorial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

#username {
    border-radius: 8px;
    border: 2px solid #15FF30;
    background: rgba(0, 0, 0, 0.70);
    font-family: "Press Start 2P";
    height: 56px;
    padding: 4px 12px;
    align-self: stretch;
    text-align: center;
    color: #FFFFFF;
}

#btn-container {
    display: flex;
    width: 448px;
    flex-direction: column;
    align-items: flex-start;
    gap: 86px;
}

#logo-btn-container {
    display: flex;
    width: 551px;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

.trophy-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 67px;
    height: 67px;
    cursor: pointer;
}

.trophy-icon:hover svg rect {
    fill: #15FF30;
}

.tutorial-section {
    color: #FFFFFF;
    font-family: "Press Start 2P";
    font-size: 15px;
    line-height: 28px;
    align-self: stretch;
    margin: 0;
}

.instructions p {
    color: #FFFFFF;
    text-align: center;
    font-family: Recursive;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

#movement-container {
    display: flex;
    height: 118px;
    padding: 13px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 14px;
    background: linear-gradient(180deg, #56BFB3 41.83%, #D67DFF 100%);
}

#rotation-container {
    display: flex;
    height: 93px;
    padding: 6px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 14px;
    background: #D67DFF;
}

#attack-container {
    display: flex;
    height: 93px;
    padding: 6px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 14px;
    background: linear-gradient(0deg, #56BFB3 48.56%, #D67DFF 100%);
}

.instructions {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.instructions-row {
    display: flex;
    gap: 46px;
    align-self: stretch;
}

.instructions-row div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#tutorial-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    align-self: stretch;
}

#tutorial-popup {
    display: flex;
    width: 468px;
    height: 570px;
    padding: 20px 10px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 6px solid #D67DFF;
    background: #000000;
    position: relative;
}

#tutorial-title-instructions-container {
    display: flex;
    width: 406px;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

#movement-instructions {
    flex-direction: column;
}

#close-tutorial-icon {
    position: absolute;
    top: 40px;
    right: 35px;
    cursor: pointer;
}

#tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000B3;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hs-user {
    color: #FFF;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hs-place {
    color: #17FC32;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.hs-place-user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hs-score {
    color: #0FFFFF;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hs-card {
    display: flex;
    width: 460px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 17px 21px;
    border-radius: 6px;
    border: 2px solid #C27AFF;
    background: #B820FF;
}

#hs-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    align-self: stretch;
}

#hs-content-container {
    display: flex;
    width: 502px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

#close-hs-icon {
    position: absolute;
    top: 40px;
    right: 28px;
    cursor: pointer;
}

#hs-popup {
    display: flex;
    height: 666px;
    padding: 3px 28px;
    padding-top: 50px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 7px solid #17FC32;
    background: #000;
    position: relative;
}

#hs-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000B3;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

#game-container {
    display: none;
}

#game-stats {
    display: flex;
    flex-direction: column;
}

#game-stats p {
    color: #FFFFFF;
    font-family: "Press Start 2P";
    font-size: 13px;
    margin: 4px;
}

#exit {
    width: 120px;
    height: 58px;
    border-radius: 14px;
    background: #F00;
    color: #000;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 20px;
    text-transform: uppercase;
}

#exit:hover {
    background: #FF4E4E;
    cursor: pointer;
}

#warning-popup p {
    color: #FFF;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#yes {
    width: 82px;
    height: 43px;
    border-radius: 12px;
    background: #4BFF1D;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 16px;
    text-transform: uppercase;
}

#yes:hover {
    background: #80FF60;
    cursor: pointer;
}

#no {
    width: 82px;
    height: 43px;
    border-radius: 12px;
    background: #FF0202;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 16px;
    text-transform: uppercase;
}

#no:hover {
    background: #FF4E4E;
    cursor: pointer;
}

#warning-btn-row {
    display: flex;
    width: 255px;
    justify-content: space-between;
    align-items: center;
}

#warning-popup {
    display: flex;
    width: 541px;
    height: 216px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 6px solid #F00;
    background: #000;
    position: relative;
}

#warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000B3;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#info-container {
    color: #FFF;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

#game-over-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


#game-over-logo-btn-container {
    display: flex;
    width: 551px;
    flex-direction: column;
    align-items: center;
}

#game-over-container {
    display: none;
    flex-direction: column;
}

#arrow-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

#arrow-up {
    grid-column: 2;
    grid-row: 1;
}

#arrow-left {
    grid-column: 1;
    grid-row: 2;
}

#arrow-right {
    grid-column: 3;
    grid-row: 2;
}

#arrow-down {
    grid-column: 2;
    grid-row: 3;
}

#rotation-attack-controls {
    display: flex;
    height: 226px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: min(90px, 20vw);
}

#game-top-container,
#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

#game-container {
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
}

#game-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

#countdown {
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Press Start 2P";
}

/* for mobile devices */
@media screen and (max-width: 800px) {
    #stars-container svg {
        height: 20vh;
        width: 70vw;
    }

    #logo-container svg {
        height: 30vh;
        width: 90vw;
    }

    #logo-btn-container, #btn-container {
        width: 90vw;
    }

    #hs-popup, #tutorial-popup, #hs-content-container, #hs-title svg {
        width: 80vw;
    }

    #movement-container {
        height: 13vh;
    }

    #rotation-container, #attack-container {
        height: 10vh;
    }

    #tutorial-title svg, #tutorial-title-instructions-container, .hs-card {
        width: 70vw;
    }
    
    #username {
        height: 6vh;
    }
}