.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home-container {
    display: flex;
    width: 668px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    
}

#start {
    border-radius: 8px;
    border: 2px solid #7BF1A8;
    background: linear-gradient(90deg, #14DE2C 0%, #1ACA20 100%);
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 56px;
    padding: 8px 16px;
    align-self: stretch;
    text-transform: uppercase;
    font-size: 20px;
}

#start:hover {
    background: #15FF30;
    cursor: pointer;
}

#tutorial {
    border-radius: 8px;
    border: 2px solid #C27AFF;
    background: #00000080;
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 56px;
    padding: 8px 16px;
    align-self: stretch;
    text-transform: uppercase;
    font-size: 20px;
}

#tutorial:hover {
    background: #654970D9;
    cursor: pointer;
}

#start-tutorial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

#username {
    border-radius: 8px;
    border: 2px solid #15FF30;
    background: rgba(0, 0, 0, 0.70);
    font-family: "Press Start 2P";
    height: 56px;
    padding: 4px 12px;
    align-self: stretch;
    text-align: center;
    color: #FFFFFF;
}

#btn-container {
    display: flex;
    width: 448px;
    flex-direction: column;
    align-items: flex-start;
    gap: 86px;
}

#logo-btn-container {
    display: flex;
    width: 551px;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

#trophy-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 67px;
    height: 67px;
    cursor: pointer;
}

#trophy-icon:hover svg rect {
    fill: #15FF30;
}